#start {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  display: block;
  font-size: x-large;
  text-align: center;
  line-height: 750%;
}

#gameOver {
  width: 600px;
  height: 200px;
  border: 1px solid black;
  margin: auto;
  display: none;
  font-size: x-large;
  text-align: center;
}

.jump {
  animation: jump 0.5s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 110px;
  }
  50% {
    top: 50px;
  }
  80% {
    top: 110px;
  }
  100% {
    top: 150px;
  }
}

@keyframes block {
  0% {
    left: 580px;
  }
  100% {
    left: -20px;
  }
}
